<%
var data = {
title: "Главная страница",
};
%>
<%= _.template(require('./../includes/header.html'))(data) %>

<div class="grid-container fluid">
    <div class="grid-x">
        <div class="cell small-12">
            <a href="#" class="button primary" data-open="modalAlert">primary</a>
            <a href="#" class="button secondary" data-open="modalAlert">secondary</a>
            <a href="#" class="button success" data-open="modalAlert">success</a>
            <a href="#" class="button warning" data-open="modalAlert">warning</a>
            <a href="#" class="button alert" data-open="modalAlert">alert</a>
        </div>
    </div>
</div>

<%= _.template(require('./../includes/alert-modal.html'))(data) %>
<%= _.template(require('./../includes/footer.html'))(data) %>